<!DOCTYPE html>
<html lang="en" ng-app = "accountApp" >
  <head>

    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Find and book parlour, spa, salons online in Chennai</title>
    <meta name="title" content="Zaloon | Book parlours, spas, salons online in Porur, Chennai, TamilNadu">
    <meta name="description" content="Find and Book parlours, Spa online in porur, Chennai, Tamil Nadu.  We provide you the best service at affordable cost">
    <meta name="keywords" content="Zaloon Chennai, Zaloon porur,  book parlours online in porur, online parlour booking in porur, find spa online in porur,  best hair stylist online in porur Chennai">     
    {% load static from staticfiles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href='{% static  "css/bootstrap/bootstrap.min.css"%}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.css"%}' type="text/css" media="all" />      
    <!-- our css -->
    <link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css" media="all" /> 
    <link rel="stylesheet" href='{% static "css/devcss.css"%}' type="text/css" media="all" /> 
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href='{% static "img/favicons/apple-icon-57x57.png"%}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "img/favicons/apple-icon-60x60.png"%}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "img/favicons/apple-icon-72x72.png"%}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "img/favicons/apple-icon-76x76.png"%}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "img/favicons/apple-icon-114x114.png"%}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "img/favicons/apple-icon-120x120.png"%}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "img/favicons/apple-icon-144x144.png"%}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "img/favicons/apple-icon-152x152.png"%}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "img/favicons/apple-icon-180x180.png"%}'>
    <link rel="icon" type="image/png" sizes="192x192"  href='{% static "img/favicons/android-icon-192x192.png"%}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "img/favicons/favicon-32x32.png"%}'>
    <link rel="icon" type="image/png" sizes="96x96" href='{% static "img/favicons/favicon-96x96.png"%}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "img/favicons/favicon-16x16.png"%}'>
    <link rel="manifest" href='{% static "img/favicons/manifest.json"%}'>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content='{% static "img/favicons/ms-icon-144x144.png"%}'>
    <meta name="theme-color" content="#ffffff">
    <!-- loading django static files -->
   <style type="text/css">

</style>
    
  </head>


<body>
      <!-- csrf token-->{% csrf_token %}
    <!--  FB KEY --> 
<div id="mask">
        <div id="loader"></div>
    </div>

<div ng-view></div>
<div id="fb-root">
        </div>



   <!-- js libs -->
  <script src='{% static "js/jquery/jquery.min.js"%}'></script>   
  <script src='{% static "js/bootstrap/bootstrap.min.js"%}'></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/jquery-ui.min.js"></script>
  <script src='{% static "js/bootstrap/bootstrap-datepicker.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular-animate.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular-cookies.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular-route.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular-touch.min.js"%}'></script>
  <script src='{% static "js/bootstrap/ui-bootstrap-tpls-0.13.0.js"%}'></script>  
  <script type="text/javascript" src='{% static "js/ng-lodash.js" %}'></script>
  <script src='{% static "js/directives/ngFacebook.js" %}'></script>
  <script src='{% static "js/app.js" %}'></script>
  <script src='{% static "js/services/httpservices.js" %}'></script>
  <script src='{% static "js/services/genericservices.js" %}'></script>
  <script src='{% static "js/services/landingservices.js" %}'></script>
  <script src='{% static "js/controllers/home_page_controller.js" %}'></script>
  <script type="text/javascript" src='{% static "js/controllers/resultController.js" %}'></script>
  <script src='{% static "js/directives/fb_login_directive.js" %}'></script>
 

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry,places"></script>
 
  <!-- Bootstrap Js -->
  
  <!-- loader -->
  <script type="text/javascript" src='{% static "js/scripts.js"%}'></script>  
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!--<script src="http://jsconsole.com/remote.js?EFF6B3F0-F091-4BF1-A102-81545C369DB1"></script>-->

  </body>

<div class="finder-overlay" style="display:none;">
      <div style="position:absolute;color:#000;top:50%;width:100%;text-align:center;">
        <!--<i class="fa fa-spinner fa-spin"></i>-->
        <div class="la-line-scale la-dark overlay-loader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
        Hunting for best parlours near you...
    </div>
    </div>
      <div class="loader-overlay" style="display:none;">
      <div style="position:absolute;color:white;top:50%;width:100%;text-align:center;">
        <i class="fa fa-spinner fa-spin"></i>
        Signing in
    </div>
    </div>

    <div id="tutorialoverlay" style="display:none;">  
    <img  class="searchbyfilter" alt="" src="{% static 'img/filter.png' %}" >    
    <img  class="sortbywish" alt="" src="{% static 'img/sorting.png' %}" >
     <img  class="hereyourcart" alt="" src="{% static 'img/cart.png' %}" >
     <img  class="clicktoview" alt="" src="{% static 'img/details.png' %}" >
    </div>



    <div id="tutorialslideroverlay" style="display:none;">  
       <img  class="viewsalondetails" alt="" src="{% static 'img/services.png' %}" >  
        <img  class="getbacksearch" alt="" src="{% static 'img/back-to-search.png' %}" >   
    </div>
</html>