{% load static from staticfiles %}

<div id="landing-page">  

  <!-- csrf token-->{% csrf_token %} 
 
     <!-- Preloader --><div data-facebook = {%verbatim%}{{fb_key}}{%endverbatim%}>
    <div id="fb-root"></div>
    

   
   
   
    
    <header>
        <nav class="navigation navigation-header">
            <div class="container no-padding">
                <div class="navigation-brand">
                    
                     <a href="#/"><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="{% static 'img/logo.png' %}"> </a>
            <a href="#/"><img width="47" height="47" class="logo hidden-md hidden-lg" alt="" src="{% static 'img/logo-mobile.png' %}"> </a>
            
                    
                </div>
                <div  class="navigation-navbar">                    
                    <ul class="navigation-bar navigation-bar-right">  


                      <li ng-show = "is_logged == 0"  >
                       <button data-ng-click='fetch();' class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i>Login with Facebook
            </button>  
                    </li>
                    <li ng-show = "is_logged == 1" class="dropdown logindetails">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Hi {%verbatim%}{{user_name}}{%endverbatim%}
                            <span class="caret"></span>
                        </button>


                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href = "#my_account" >My Account</a></li>
                            <li><a style ="cursor:pointer;" ng-click="logOut()">Signout</a></li>
                        </ul>

                    </li>                    

                     
                </div>
        
            </div>
        </nav>
    </header>
  
    
  <div id="banner" class="static-header">
<div class="layer"></div>
        <div class="text-heading">
            <h1 class="animated " data-animation="bounceInDown" data-delay="0">Find  best parlours in Chennai & book online!</h1>
            <p class="animated  easysearch" data-animation="fadeInDown" data-delay="500">EASY SEARCH  <span> | </span> FREE CANCELLATION   <span> | </span>  100% GUARNTEE</p>
        </div>
    
    <div class="container">
      <div class="signup-wrapper animated " data-animation="bounceInUp" data-delay="0">
        <div class="row">
            <form name ="searchservice" class="form-register form-register-small col-lg-12 no-padding" novalidate>
            <div class="col-xs-12 col-md-4 col-lg-4 no-padding">
              <div class="form-group autocomplete">
              <span class="service-icon"><i class="fa fa-gear icon-active"></i></span>             
              <span><input size="35" name="service" ng-model="searchdata_.service_name" type="text" class="form-control location" id="service_id" placeholder="eg., Haircut,Facial" typeahead="service as service.service_name for service in searchdata_.servicelist | filter:$viewValue:stateComparator | limitTo:5" typeahead-min-length='1'  typeahead-on-select='onserviceselect($item, $model, $label)' typeahead-template-url="service.html" autocomplete="off" focus-me="opened" empty-typeahead ng-focus="onFocus($event)" required></span>              
              </div>
              <span class="error" style="color:#fff;" ng-show="formsubmit && searchservice.service.$error.required">Service is required.</span>
              <span class="error" style="color:#fff;" ng-show="iswrongservice">Please choose from list of service</span>
            </div>  
            <div class="col-xs-12 col-md-5 col-lg-6 no-padding">
              <div class="form-group autocomplete">
              <span class="service-icon"><i class="fa fa-map-marker icon-active"></i></span>              
                 <input id="location" name="location" size="35" ng-keyup="areacomplete()" type="text" ng-model="searchdata_.searchlocation" placeholder="Enter your Location" typeahead="area as area.value for area in searchdata_.arealist | limitTo:10" typeahead-min-length='1' typeahead-on-select='onlocationselect($item, $model, $label)' typeahead-template-url="location.html" class="form-control location" autocomplete="off" required>       
              </div>
              <span class="error" style="color:#fff;" ng-show="formsubmit && searchservice.location.$error.required">Location is required.</span>
            </div>  
            <div class="col-xs-12 col-md-3 col-lg-2 no-padding">
              <div class="form-group submit-wrap">                
                <input type="submit"  class="btn btn-primary btn-md" ng-click="searchstudio(searchservice)" value="Find"/>
              </div>
            </div>             
            </form>
        </div>
      </div>
    </div>
    
    </div>    
  
  <section id="features-list" class="section dark">
        <div class="container animated" style="z-index:0;" data-animation="fadeInDown">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <article class="center">  
          <i class="fa fa-calendar icon-active"></i>
                    <span class="h7">BOOK</span>
                      <p class="thin">Discover the best parlours near you<br>Choose a flexible time<br>Read reviews and book</p>
                </article>
            </div>                       
      <div class="col-md-4 col-sm-4 col-xs-12">
                <article class="center">  
          <i class="fa fa-check-circle icon-active"></i>
                    <span class="h7">PAY</span>
                   <p class="thin">Pay for your seat online<br/>No extra charges<br>
                      Enjoy exciting offers</p>
                </article>
            </div>             
      <div class="col-md-4 col-sm-4 col-xs-12">
                <article class="center">  
          <i class="fa  fa-arrow-circle-right icon-active"></i>
                    <span class="h7">MOVE-ON</span>
                     <p class="thin">No more waiting<br>100% satisfaction guarenteed<br/>Rate & review the parlours
                    </p>
                </article>
            </div>    
                
        </div>
    </section>    
<!--<a>
     <i class="icon icon-socialmedia-25"><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>      
  </a>-->

  </div> 
  </div>

  <div id="signuperrormodal" class=" modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header modal-register-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            Login Error
        </div>
        <div class="modal-body">
            <div class="todo">
                Login error try again
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" data-dismiss="modal" data-dismiss="modal">Ok</button>
            
        </div>
    </div>
</div>
</div>
  <script type="text/ng-template" id="location.html" >
<a ng-if="match.label" class="form-control" style="cursor: pointer;"><i class="fa fa-map-marker"></i><span bind-html-unsafe="match.label" style="padding-left: 5px;"></span></a>
<span style="padding: 10px 5px;display: inline-block;height: 46px;" ng-if="!match.label">
        <i class="fa fa-frown-o"></i><span style="padding-left: 5px;">Sorry! No Matching Found</span></span>
  </script>


  <script type="text/ng-template" id="service.html">  
  <a>
     <i class="icon icon-shopping-23"><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>      
  </a>
  </script>