<html>
<head>
	<title>Sub-merchant checkout page</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
   <center>        <iframe  width="482" height="500" scrolling="No" frameborder="0"  id="paymentFrame"        src="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction&merchant_id=71637&encRequest=677677f02e18b1c807b3759bcda1976c0dcdac9e46091b36323d3e196423c7136472d2986d0da28efd6dad6cea43ef53fc0c424d93ccee635d746b1c593833922e7469889779cae80f748eeeec215a4bee561feb50ab5e4ef4edc943ac08513e62f5ca1c3918d6c7a0073a30e53a6cb967ac05d9e25ae223654117e61eb74f993afb84d84120a6be4a77e58add43d23121684fbcdeee4d89cc322ccab18c45c6a47cea6b117e0900b4859778e7ae63455fb601b7dcec88d979504b64d2f36fc94ea85b6e04f188e6f7723be4cfc984a84eb30f426f3e8f338ce871d654f7e9f3&access_code=AVNI05CG68BJ32INJB\">           </iframe>        </center>
	
	<script type="text/javascript">
    	$(document).ready(function(){
    		$('iframe#paymentFrame').load(function() {
				 window.addEventListener('message', function(e) {
			    	 $("#paymentFrame").css("height",e.data['newHeight']+'px'); 	 
			 	 }, false);
			 }); 
    	});
	</script>
  </body>
</html>

