<!DOCTYPE html>
<html lang="en" ng-app = "accountApp" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Onepass</title>
    {% load static from staticfiles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href='{% static  "css/bootstrap/bootstrap.min.css"%}'>
  <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>    
    <!-- loading django static files -->
    <!-- <link rel="stylesheet" href='{% static "css/main.css"%}'> -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js'></script>
    <script src='{% static "js/jquery/jquery.min.js"%}'></script> 
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.min.js'></script>
  </head>
  <body>

   <div ng-controller = "landingpagecontroller">

      <div data-facebook='442685319234348'>
    <div id="fb-root"></div>
     <a href='#' data-ng-click='fetch()' ng-if="is_logged !=1;"  class='btn btn-primary'>Login with Facebook</a> 
     {%verbatim%}{{is_logged}}{%endverbatim%}
     <span ng-if="is_logged==1">Hi  {%verbatim%}{{user_name}}{%endverbatim%}
      <a  ng-click = "logOut();">Logout</a>
      <a ng-click="getDetails()">My account </span>
  </div>
    </div>
  <script src='{% static "js/app.js" %}'></script>
  <script src='{% static "js/services/httpservices.js" %}'></script>
  <script src='{% static "js/controllers/landing_page_controllers.js" %}'></script>
  <script src='{% static "js/directives/fb_login_directive.js" %}'></script>
  <!-- Bootstrap Js -->
  <script src='{% static "js/bootstrap/bootstrap.min.js"%}'></script>
  </body>
</html>
