  <div class="finder-overlay" style="display:none;">
      <div style="position:absolute;color:#000;top:50%;width:100%;text-align:center;">
        <!--<i class="fa fa-spinner fa-spin"></i>-->
        <div class="la-line-scale" style="left:48%;color: #f06471;">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>        
    </div>
    </div>
  <header class="searchheader">
        <nav class="navigation">
            
                <div class="navigation-brand">
                      
          <a href="#/" ><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="/static/img/logo.png">  </a>
          <a href="#/" ><img width="141" height="41" class="logo hidden-md hidden-lg" alt="" src="/static/img/logo-mobile.png"> </a>
                </div>
        <!-- Login -->
        
                <div class="navigation-navbar">                    
                    <ul class="navigation-bar navigation-bar-right">          
                                    
                       
             <li class="dropdown logindetails">
             <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             Hi {%verbatim%}{{user_details.user_acc.first_name}}{%endverbatim%}
              <span class="caret"></span>
              </button>          
             
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href = "#/search" >Home</a></li>
                <li><a style ="cursor:pointer;" ng-click="logOut()">Signout</a></li>
              </ul>            
             </li>            
            
                    </ul>  
                </div>           
        </nav>
    </header>
  
<!-- Booking History -->

<div class="booking-panel"> 
<div class="booking-panel-wrapper"> 
  <div class="booking-aside"> 
    <div class="summary-panel">   
      <h3>Summary</h3>
      <div class="col-sm-6 col-xs-6 summary">
        <h4>{%verbatim%}{{expired_bookings.length}}{%endverbatim%}</h4><span>Booked</span>      
      </div>
      <div class="col-sm-6 col-xs-6 summary">
        <h4>{%verbatim%}{{active_bookings.length}}{%endverbatim%}</h4><span>Upcoming</span>     
      </div>
    </div>
    
    <div class="profile-panel"> 
      <h3>Profile</h3>      
      <p><span>Name:</span> {%verbatim%}{{user_details.user_acc.first_name}}   {{user_details.user_acc.last_name}}{%endverbatim%} </p>  
      <p><span>Email:</span> {%verbatim%}{{user_details.user_acc.email}}{%endverbatim%}</p> 
      <p><span>Area:</span>
          <span ng-show="locationshow"><span style="font-size: 15px;font-weight:400;" ng-model="location" class="ng-scope ng-binding editable editable-click">
            {%verbatim%} {{location || ""}}{%endverbatim%}</span>&nbsp;<i ng-click="editlocation()" style="cursor: pointer;
                font-size: 12px;" class="glyphicon glyphicon-pencil"></i></span>
        <div ng-show="!locationshow" class="editable-controls form-group acconts" style="margin-bottom: 0px;">
            <form name="formlocation" novalidate>
            <input name="location" type="text" class="editable-has-buttons editable-input" style="height: 34px; padding: 6px 12px; margin-top: 2px;" ng-model="txtlocation" ng-keyup="areacomplete()" typeahead="area as area.value for area in searchdata_.arealist | limitTo:10" typeahead-min-length='1' typeahead-on-select='onlocationselect($item, $model, $label)' typeahead-template-url="location.html" required />
            <span class="editable-buttons">
                <button type="submit" style="padding: 8px;min-width: 50px;" class="btn btn-primary" ng-click="loceditableok(formlocation)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" style="padding: 8px;min-width: 50px;" class="btn btn-default" ng-click="loceditablecancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <br />
            <span class="red" ng-show="locationsubmit && formlocation.location.$error.required">
                Location is required</span>
            </form>
        </div>
      </p>
      <p><span>Mobile:</span>
        <span ng-show="phoneshow"><span style="font-size: 15px;font-weight:400;" ng-model="phoneno" class="ng-scope ng-binding editable editable-click">
           {%verbatim%} {{phoneno || ""}}{%endverbatim%}</span>&nbsp;<i ng-click="editphone()" style="cursor: pointer;
                font-size: 12px;" class="glyphicon glyphicon-pencil"></i></span>
        <div ng-show="!phoneshow" class="editable-controls form-group" style="margin-bottom: 0px;">
            <form name="formphone" novalidate>
            <input name="mobile" type="text" class="editable-has-buttons editable-input" style="height: 34px;
                padding: 6px 12px; margin-top: 2px;" ng-model="txtphone" ng-pattern="/^[7-9][0-9]{9}$/"
                required />
            <span class="editable-buttons">
                <button type="submit" style="padding: 8px;min-width: 50px;" class="btn btn-primary" ng-click="pheditableok(formphone)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" style="padding: 8px;min-width: 50px;" class="btn btn-default" ng-click="pheditablecancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <br />
            <span class="red" ng-show="phonesubmit && formphone.mobile.$error.required">Mobile is
                required</span> <span ng-show="phonesubmit"><span class="red" ng-show="formphone.mobile.$error.number || formphone.mobile.$error.pattern">
                    Enter valid mobile</span></span>
            </form>
        </div>
      </p>   
    </div>
    <!--<input type="button" value="Update" ng-click="updateprofile()"/>-->
  </div>    
  
  <div class="booking-panel-list-box">
  
  
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a ng-init="tabx = 1" ng-click="tabx = 1" aria-controls="booking" role="tab" data-toggle="tab">Booking</a></li>
      <li role="presentation"><a ng-click="tabx = 2" aria-controls="booking-history" role="tab" data-toggle="tab">Booking History</a></li>      
      </ul>

      <!-- Tab panes -->
  <div class="tab-content">     
    
    <div role="tabpanel" class="booking-panel-list-view tab-pane" ng-class="{'active':tabx == 1}" ng-show="tabx == 1" id="booking">
    <ul>
    
    <li class="booking-list-item-container" ng-repeat="buking in active_bookings  | orderBy:'id':true">
      <div class="book-imgthumb">
        <img class="image loaded" alt="" ng-src="{%verbatim%}{{buking.studio.thumbnail}}{%endverbatim%}">  
      </div>  
      <div class="book-details" >
        <h4>{%verbatim%}{{buking.studio.name}}{%endverbatim%}</h4>
      <div class="info">
        <div class="landmark_details">{%verbatim%}{{buking.studio.landmark}}
  {{buking.studio.address_1}}
  {{buking.studio.address_2}}</div>
  <div class="landmark_details">{{buking.studio.area}},
  {{buking.studio.city}}
  {%endverbatim%}</div>
        <div class="landmark_details"><span>{%verbatim%}{{buking.studio.in_charge_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}</a></div> 
        <div class="landmark_details"><span>{%verbatim%}{{buking.studio.contact_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}</a></div>    
      </div>
      <div class="info1">
        Appnt. Date: <span>{%verbatim%}{{buking.appointment_date | date: mm-dd}}{%endverbatim%}</span>
        <span ng-bind="timeFilter(buking.appointment_start_time)"></span>
        
        <div class="landmark_details"><span>Booking Code:</span>{%verbatim%}{{buking.booking_code}}{%endverbatim%}</div>             
        
        <div class="landmark_details">
        <span>Service Booked:</span><span ng-repeat="bukserv in buking.service_booked_with">{%verbatim%}{{bukserv.service.service_name}}{%endverbatim%}<span ng-show="$last != true">
          ,</span></span></div>       
        <div class="landmark_details"><span>Duration:</span>  <span ng-bind="findDuration(buking.appointment_start_time, buking.appointment_end_time)"></span> mins</div>
        
        
      </div>
      </div>
      <button class="bookbtn btn" data-toggle="modal" data-id="{%verbatim%}{{buking.id}}{%endverbatim%}"  ng-if="has_cancel(buking.appointment_start_time,buking.appointment_date)"  data-target="#cancelmodal">Cancel</button>       
    </li>
        
    </ul>
  </div>
    
  <div role="tabpanel" class="booking-panel-list-view tab-pane" ng-class="{'active':tabx == 2}" ng-show="tabx == 2" id="booking-history">
    <ul>
    
    <li class="booking-list-item-container" ng-repeat="buking in expired_bookings | orderBy:'id':true">
      <div class="book-imgthumb">
        <img class="image loaded" alt="" ng-src="{%verbatim%}{{buking.studio.thumbnail}}{%endverbatim%}">  
      </div>  
          <div class="book-details" >
        <h4>{%verbatim%}{{buking.studio.name}}{%endverbatim%}</h4>
      <div class="info">
        <div class="landmark_details">{%verbatim%}{{buking.studio.landmark}}
  {{buking.studio.address_1}}
  {{buking.studio.address_2}}</div>
  <div class="landmark_details">{{buking.studio.area}},
  {{buking.studio.city}}
  {%endverbatim%}</div>
        <div class="landmark_details"><span>{%verbatim%}{{buking.studio.in_charge_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}</a></div> 
        <div class="landmark_details"><span>{%verbatim%}{{buking.studio.contact_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}</a></div>    
      </div>
      <div class="info1">
        Appnt. Date: <span>{%verbatim%}{{buking.appointment_date | date: yyyy-mm-dd}}{%endverbatim%}</span>
        <span ng-bind="timeFilter(buking.appointment_start_time)"></span>
        
        <div class="landmark_details"><span>Booking Code:</span>{%verbatim%}{{buking.booking_code}}{%endverbatim%}</div>             
        
        <div class="landmark_details">
        <span>Service Booked:</span><span ng-repeat="bukserv in buking.service_booked_with">{%verbatim%}{{bukserv.service.service_name}}{%endverbatim%}<span ng-show="$last != true">
          ,</span></span></div>       
        <div class="landmark_details"><span>Duration:</span>  <span ng-bind="findDuration(buking.appointment_start_time, buking.appointment_end_time)"> </span> mins</div>
        
        
      </div>
      </div>
        <!-- <button class="rebookbtn btn">Rebook</button> -->
        <button ng-if="buking.is_reviewed == 0 && buking.status_code == 'B004'" class="reviewbtn btn" data-toggle="modal" data-id="{%verbatim%}{{buking.id}}{%endverbatim%}" data-target="#reviewmodal">Write a review</button>
        <button class="cancelledbtn btn" ng-if="buking.status_code != 'B004'">Cancelled </button>
       <button class="reviewedbtn btn" ng-if="buking.is_reviewed == 1">Reviewed </button>
              
    </li>
    </ul>
  </div>
     </div>
  </div>
</div>  
</div>
  
  
  
    
  
  <!-- Model -->
   <div  id="reviewmodal" class="modal fade" data-backdrop="static" 
   data-keyboard="false" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-booking-header">
     <button type="button" class="close" data-dismiss="modal">&times;</button> 
    
    </div> 
    <div class="modal-body register" ng-if="is_adding ==1">
      {%verbatim%}{{review_message}}{%endverbatim%}
    </div>
      <div class="modal-body register" ng-if="is_adding ==0">
      <div class="col-sm-12">
         <h4 class="modal-title">Help Others, Write a review</h4>
      </div>         
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 ">Your Rating</label>
          <div class="col-md-7 col-sm-8 col-xs-11">
          <rating ng-model="rate" max="5" readonly="isReadonly"  on-leave="overStar = null"></rating>
          </div>
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 ">Your Review</label>
          <div class="col-md-7 col-sm-8 col-xs-11">
          <textarea name="" ng-model="comment" type="text" class="form-control"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 "></label>
          <div class="col-md-7 col-sm-6 col-xs-11">
          <button ng-click="add_review()" ng-disabled="is_adding==1" class="rebookbtn btn" ng-switch on="is_adding">
            <span ng-switch-when="0">Submit</span>
            <span ng-switch-when="1">Submitting...</span></button>
          </div>
        </div>
      </div>
    </div>    
    
      </div>
    </div>  
  </div>  
</div>
   
<!--cancel confirmation modal-->

  <div  id="cancelmodal" data-backdrop="static" 
   data-keyboard="false" class=" modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-register-header">
     <button type="button" ng-hide="is_cancelling  == 1"  class="close" ng-click="clearcancel()">&times;</button> 
     <h4 class="modal-title" ng-if="is_cancelling  == 0" >Do you really want to cancel the booking?</h4>
     <h4 class="modal-title" ng-if="is_cancelling  == 1">We are cancelling</h4>
     <h4 class="modal-title" ng-if="has_cancelled == 1" >Sucess!</h4>
     <h4 class="modal-title" ng-if="has_cancelled == 0">Failed</h4>
    </div> 
      <div ng-if="is_cancelling  == 0" class="modal-body register" style="text-align:center;">  
      Do you really want to cancel the booking? 
      <div>
          <form>
     <button type="button" class=""  ng-click="booking_cancel(cancel_booking_id)">Yes, Cancel it</button> 
     <button type="button" class="" data-dismiss="modal">No, Dont cancel</button> 
          </form>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="is_cancelling == 1" class="modal-body register" style="text-align:center;">  
      Cancelling
      <div>
         <i class="fa fa-spinner fa-spin"></i>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="has_cancelled == 1" class="modal-body register" style="text-align:center;">  
      Cancellation sucessfull
      <div>
         Want to reschedule?<a href="#/search"> Click here</a>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="has_cancelled == 0" class="modal-body register" style="text-align:center;">  
      Could not cancel
      <div>
         Please contact zaloon<a href="mailto:support@zaloon.in">support</a>
      </div> 
      <div style="clear:both;"></div>       
      </div>
    </div>  
  </div> 
  </div>  



  <div  id="bookingconfirm" class=" modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-register-header">
     <button type="button" class="close" data-dismiss="modal">&times;</button> 
     <h4 class="modal-title">Your booking is sucessful!</h4>
    </div> 
      <div class="modal-body register">   
      <div class="socialpanel">
          <div>
            Booking details
          </div>
      </div>        
      </div>
    </div>  
  </div>  
</div>



<script type="text/ng-template" id="location.html">
  <a>
     <i class="icon icon-socialmedia-25"><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>      
  </a>

  </script>
 
   

