    <style type="text/css">
    .modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      /*z-index: 1039;*/
      background-color: #000;
    }
    </style>
    <div class="profile-overlay" style="display:none;">
      <div style="position:absolute;color:#000;top:50%;width:100%;text-align:center;">
        <!--<i class="fa fa-spinner fa-spin"></i>-->
        <div class="la-line-scale" style="left:48%;color:#000;">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>   
Loading your profile...     
    </div>
    </div>
  <header class="searchheader">
        <nav class="navigation">
            
                <div class="navigation-brand">
                      
          <a href="#/" ><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="/static/img/logo.png" style="margin-top:0px;">  </a>
          <a href="#/" ><img width="47" height="47" class="logo hidden-md hidden-lg" alt="" src="/static/img/logo-mobile.png"> </a>
                </div>
        <!-- Login -->
        
                <div class="navigation-navbar">                    
                    <ul class="navigation-bar navigation-bar-right">          
                                    
             <li ng-show = "logging_out"><i style="color:#E65555;" class="fa fa-spinner fa-spin"></i></li>
             <li class="dropdown logindetails">
             <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
             Hi {%verbatim%}{{user_details.user_acc.first_name}}{%endverbatim%}
              <span class="caret"></span>
              </button>          
             
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href = "#/search" >Home</a></li>
                <li><a style ="cursor:pointer;" ng-click="logOut()">Signout</a></li>
              </ul>            
             </li>            
            
                    </ul>  
                </div>           
        </nav>
    </header>
  
<!-- Booking History -->

<div class="booking-panel"> 
<div class="booking-panel-wrapper"> 
  <div class="booking-aside"> 
    <div class="summary-panel">   
      <h3>Summary</h3>
      <div class="col-sm-6 col-xs-6 summary">
        <h4>{%verbatim%}{{active_count}}/{{active_bookings.length}}{%endverbatim%}</h4><span>Used</span>      
      </div>
      <div class="col-sm-6 col-xs-6 summary">
        <h4>{%verbatim%}{{inactive_count}}/{{expired_bookings.length}}{%endverbatim%}</h4><span>Upcoming</span>     
      </div>
    </div>
    
    <div class="profile-panel"> 
      <h3>Profile</h3>      
      <p><span>Name:</span> {%verbatim%}{{user_details.user_acc.first_name}}   {{user_details.user_acc.last_name}}{%endverbatim%} </p>  
      <p><span>Email:</span> {%verbatim%}{{user_details.user_acc.email}}{%endverbatim%}</p> 
      <div style="padding: 0 0 5px 15px;margin: 0;font-size: 14px;"><span>Area:</span>
          <span ng-show="locationshow"><span style="font-size: 15px;font-weight:400;" ng-model="location" class="ng-scope ng-binding editable editable-click">
            {%verbatim%} {{location || ""}}{%endverbatim%}</span>&nbsp;<i ng-click="editlocation()" style="cursor: pointer;
                font-size: 12px;" class="glyphicon glyphicon-pencil"></i></span>
        <div ng-show="!locationshow" class="editable-controls form-group acconts" style="margin-bottom: 0px;display: inline-block;">
            <form name="formlocation" novalidate>
            <input name="location" type="text" class="editable-has-buttons editable-input" style="height: 36px; padding: 6px 12px;" ng-model="txtlocation" ng-keyup="areacomplete()" typeahead="area as area.value for area in searchdata_.arealist | limitTo:10" typeahead-min-length='1' typeahead-on-select='onlocationselect($item, $model, $label)' typeahead-template-url="location.html" required />
            <span class="editable-buttons resetpanel">
                <button type="submit" style="padding: 8px;min-width: 40px;margin:0px 1px;" class="btn apply-btn" ng-click="loceditableok(formlocation)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" style="padding: 8px;min-width: 40px;margin:0px 1px;" class="btn reset-btn" ng-click="loceditablecancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>                  
            </form>
        </div>
        <span class="red" ng-show="locationsubmit && formlocation.location.$error.required">
                Location is required</span>
      </div>
      <div style="padding: 0 0 5px 15px;margin: 0;font-size: 14px;"><span>Mobile:</span>
        <span ng-show="phoneshow"><span style="font-size: 15px;font-weight:400;" ng-model="phoneno" class="ng-scope ng-binding editable editable-click">
           {%verbatim%} {{phoneno || ""}}{%endverbatim%}</span>&nbsp;<i ng-click="editphone()" style="cursor: pointer;
                font-size: 12px;" class="glyphicon glyphicon-pencil"></i></span>
        <div ng-show="!phoneshow" class="editable-controls form-group" style="margin-bottom: 0px;display: inline-block;">
            <form name="formphone" novalidate>
            <input name="mobile" type="text" class="editable-has-buttons editable-input" style="height: 36px;
                padding: 6px 12px;" ng-model="txtphone" ng-pattern="/^[7-9][0-9]{9}$/"
                required />
            <span class="editable-buttons resetpanel">
                <button type="submit" style="padding: 8px;min-width: 40px;margin:0px 1px;" class="btn apply-btn" ng-click="pheditableok(formphone)">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="button" style="padding: 8px;min-width: 40px;margin:0px 1px;" class="btn reset-btn" ng-click="pheditablecancel()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </span>
            <br />            
            </form>
        </div>
        <span class="red" ng-show="phonesubmit && formphone.mobile.$error.required">Mobile is
                required</span> <span ng-show="phonesubmit"><span class="red" ng-show="formphone.mobile.$error.number || formphone.mobile.$error.pattern">
                    Enter valid mobile</span></span>
      </div>   
    </div>
    <!--<input type="button" value="Update" ng-click="updateprofile()"/>-->    
  </div>    
  
  <div class="booking-panel-list-box">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-init="tabx = 1" ng-click="tabx = 1" style="cursor:pointer;" ng-class="{'active':tabx == 1}"><a aria-controls="booking" role="tab" data-toggle="tab">Active Booking</a></li>
      <li role="presentation" ng-click="tabx = 2" style="cursor:pointer;" ng-class="{'active':tabx == 2}"><a aria-controls="booking-history" role="tab" data-toggle="tab">Booking History</a></li>      
      </ul>      
      <!-- Tab panes -->
  <div class="tab-content">     
    
    <div role="tabpanel" class="booking-panel-list-view tab-pane" ng-class="{'active':tabx == 1}" ng-show="tabx == 1" id="booking">

      <span ng-if="active_bookings.length == 0"> No active bookings.</span>
    <ul>
    
    <li class="booking-list-item-container" ng-repeat="buking in active_bookings  | orderBy:'id':true">
      <div class="book-imgthumb">
        <img class="image loaded" alt="" ng-src="{%verbatim%}{{buking.studio.thumbnail}}{%endverbatim%}">  
      </div>  
      <div class="book-details" >
        <h4>{%verbatim%}{{buking.studio.name}}{%endverbatim%}</h4>
      <div class="info">
        <div class="landmark_details">{%verbatim%}{{buking.studio.landmark}}</div>
        <div class="landmark_details">{{buking.studio.address_1}}</div>
  <div class="landmark_details">{{buking.studio.address_2}}</div>
  <div class="landmark_details">{{buking.studio.area}},
  {{buking.studio.city}}
  {%endverbatim%}</div>
        <div class="landmark_details contact"><span>{%verbatim%}{{buking.studio.in_charge_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}</a><span class="fa fa-phone paddlft10"></span></div> 
        <div class="landmark_details contact" ng-if="buking.studio.contact_mobile_no"><span>{%verbatim%}{{buking.studio.contact_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}</a>
        <span class="fa fa-phone paddlft10"></span></div>    
      </div>
      <div class="info1">
        Appnt. Date: <span>{%verbatim%}{{buking.appointment_date | date: mm-dd}}{%endverbatim%}</span>
        <span ng-bind="timeFilter(buking.appointment_start_time)"></span>
        
        <div class="landmark_details"><span>Booking Code:</span>{%verbatim%}{{buking.booking_code}}{%endverbatim%}</div>             
        
        <div class="landmark_details">
        <span>Service Booked:</span><span ng-repeat="bukserv in buking.service_booked_with">{%verbatim%}{{bukserv.service.service_name}}{%endverbatim%}<span ng-show="$last != true">
          ,</span></span></div>       
        <div class="landmark_details"><span>Duration:</span>  <span ng-bind="findDuration(buking.appointment_start_time, buking.appointment_end_time)"></span> mins</div>
        <div class="landmark_details"><span>Booking date:</span> {%verbatim%}{{buking.booking_date | date: mm-dd}}{%endverbatim%}</div>
        
        
      </div>
      </div>
      <button class="bookbtn btn" data-toggle="modal" data-id="{%verbatim%}{{buking.id}}{%endverbatim%}"  ng-if="has_cancel(buking.appointment_start_time,buking.appointment_date)"  data-target="#cancelmodal">Cancel</button>       
    </li>
    <div ng-show='active_loading_more'>Loading more data...</div>
    </ul>
  </div>
    
  <div role="tabpanel" class="booking-panel-list-view tab-pane" ng-class="{'active':tabx == 2}" ng-show="tabx == 2" id="booking-history">
    <span ng-if="expired_bookings.length == 0"> No booking used yet.</span>
    <ul>
    
    <li class="booking-list-item-container" ng-repeat="buking in expired_bookings | orderBy:'id':true">
      <div class="book-imgthumb">
        <img class="image loaded" alt="" ng-src="{%verbatim%}{{buking.studio.thumbnail}}{%endverbatim%}">  
      </div>  
          <div class="book-details" >
        <h4>{%verbatim%}{{buking.studio.name}}{%endverbatim%}</h4>
      <div class="info">
        <div class="landmark_details">{%verbatim%}{{buking.studio.landmark}}</div>
  <div class="landmark_details">{{buking.studio.address_1}}</div>
  <div class="landmark_details">{{buking.studio.address_2}}</div>
  <div class="landmark_details">{{buking.studio.area}},
  {{buking.studio.city}}
  {%endverbatim%}</div>
        <div class="landmark_details contact"><span>{%verbatim%}{{buking.studio.in_charge_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.incharge_mobile_no}}{%endverbatim%}</a><span class="fa fa-phone paddlft10"></span></div> 
        <div class="landmark_details contact" ng-if="buking.studio.contact_mobile_no"><span>{%verbatim%}{{buking.studio.contact_person}}{%endverbatim%}</span> - <a href="tel:+91{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}">{%verbatim%}{{buking.studio.contact_mobile_no}}{%endverbatim%}</a><span class="fa fa-phone paddlft10"></span></div>    
      </div>
      <div class="info1">
        Appnt. Date: <span>{%verbatim%}{{buking.appointment_date | date: yyyy-mm-dd}}{%endverbatim%}</span>
        <span ng-bind="timeFilter(buking.appointment_start_time)"></span>
        
        <div class="landmark_details"><span>Booking Code:</span>{%verbatim%}{{buking.booking_code}}{%endverbatim%}</div>             
        
        <div class="landmark_details">
        <span>Service Booked:</span><span ng-repeat="bukserv in buking.service_booked_with">{%verbatim%}{{bukserv.service.service_name}}{%endverbatim%}<span ng-show="$last != true">
          ,</span></span></div>       
        <div class="landmark_details"><span>Duration:</span>  <span ng-bind="findDuration(buking.appointment_start_time, buking.appointment_end_time)"> </span> mins</div>
        <div class="landmark_details"><span>Booking date:</span> {%verbatim%}{{buking.booking_date | date: mm-dd}}{%endverbatim%}</div>
        
        
      </div>
      </div>
        <!-- <button class="rebookbtn btn">Rebook</button> -->
        <button ng-if="buking.is_reviewed == 0 && buking.status_code == 'B004'" class="reviewbtn btn" data-toggle="modal" data-studio="{%verbatim%}{{buking.studio.name}}{%endverbatim%}" ng-click="clearreviewdata()"  data-id="{%verbatim%}{{buking.id}}{%endverbatim%}" data-target="#reviewmodal">Write a review</button>
        <button class="cancelledbtn btn" ng-if="buking.status_code == 'B003'">Cancelled </button>
       <button class="reviewedbtn btn" ng-if="buking.is_reviewed == 1 && buking.status_code == 'B004' ">Reviewed </button>
              
    </li>
    <div ng-show='inactive_loading_more'>Loading more data...</div>
    </ul>
  </div>
     </div>
  </div>
</div>  
<div style="clear:both;"></div>
<section id="footer" style="margin-top:15px;background: #F8F8F8;box-shadow: 3px 0px 3px rgba(0,0,0,0.2);">
        <div class="container">            
      <div class="col-md-12 col-sm-12 col-xs-12">
                 <p class="thin">© 2015 zaloon.in</p>
            </div>      
        </div>
    </section>
</div>
  
  
  
    
  
  <!-- Model -->
   <div  id="reviewmodal" class="modal fade"
   data-keyboard="false"  role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-booking-header">
     <button type="button" class="close" ng-click="clearreviewdata()" data-dismiss="modal">&times;</button> 
    Good or Bad? Leave a review to help others find a perfect parlor to book.
    </div> 
    <div class="modal-body register" ng-if="is_adding ==1">
      {%verbatim%}{{review_message}}{%endverbatim%}
    </div>
      <div class="modal-body register" ng-if="is_adding ==0">
      <div class="col-sm-12">
         <h4 class="modal-title" style="color:#000 !important;">{%verbatim%}{{reviewstudio}}{%endverbatim%}</h4>
      </div>     
    <form  n ng-if="is_adding ==0"  name="reviewform" style="padding:0px;" novalidate>    
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 ">Your Rating</label>
          <div class="col-md-7 col-sm-8 col-xs-11">
          <rating ng-model="review_data.rate" max="5" readonly="isReadonly"  on-leave="overStar = null"></rating>
          </div>
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 ">Your Review</label>
          <div class="col-md-7 col-sm-8 col-xs-12">
          <textarea name="comment" ng-model="review_data.comment" type="text" class="form-control" required></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 paddtop10">
        <div class="form-group">
          <label for="sidebar-info" class="col-md-4 col-sm-4 col-xs-12 "></label>
          <div class="col-md-7 col-sm-6 col-xs-12 resetpanel" style="left: 0px;bottom:0px;">
          <button ng-click="add_review(reviewform)" ng-disabled="is_adding==1" class="rebookbtn btn apply-btn col-md-4 col-sm-6 col-xs-12" ng-switch on="submitting">
            <span ng-switch-when="0">Submit</span>
            <span ng-switch-when="1">Submitting...</span></button>
          </div>
        </div>
      </div>
    </div>   
    <span class="error" style="color:#E55454;" ng-show="formsubmit && reviewform.comment.$error.required">Please enter your comment.</span>
   
    </form> 
    
      </div>
    </div>  
  </div>  
</div>
   
<!--cancel confirmation modal-->

  <div  id="cancelmodal" data-backdrop="static" 
   data-keyboard="false" class=" modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-register-header">
     <button type="button" ng-hide="is_cancelling  == 1"  class="close" ng-click="clearcancel()">&times;</button> 
     <h4 class="modal-title" ng-if="is_cancelling  == 0" >Oops!! Do you really want to cancel your booking?</h4>
     <h4 class="modal-title" ng-if="is_cancelling  == 1">Please wait while we cancel your booking.</h4>
     <h4 class="modal-title" ng-if="has_cancelled == 1" >Cancelled!</h4>
     <h4 class="modal-title" ng-if="has_cancelled == 0">Failed</h4>
    </div> 
      <div ng-if="is_cancelling  == 0" class="modal-body register" style="text-align:center;">  
      Do you really want to cancel the booking? 
      <div>
          <form>
          <div class="resetpanel">
     <button type="button" class="btn reset-btn"  ng-click="booking_cancel(cancel_booking_id)">Yes, Cancel it</button> 
     <button type="button" class="btn apply-btn" data-dismiss="modal">No, Dont cancel</button> </div>
          </form>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="is_cancelling == 1" class="modal-body register" style="text-align:center;">  
      Cancelling
      <div>
         <i class="fa fa-spinner fa-spin"></i>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="has_cancelled == 1" class="modal-body register" style="text-align:center;">  
      Your booking has been cancelled. Do you want to reschedule?

      <div>
         <a href="#/search">Click here</a>
      </div> 
      <div style="clear:both;"></div>       
      </div>
      <div ng-if="has_cancelled == 0" class="modal-body register" style="text-align:center;">  
      Could not cancel
      <div>
         Please contact cutomercare  @ <a href="mailto:care@zaloon.in">support</a>
      </div> 
      <div style="clear:both;"></div>       
      </div>
    </div>  
  </div> 
  </div>  
  
  <alert-popup alertmsg="" alertobj="new_booking"></alert-popup>

   <div  id="bookingconfirm" class=" modal fade" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-register-header">
     <button type="button" class="close" data-dismiss="modal">&times;</button> 
     <h4 class="modal-title">Cheers! Your booking is successful.</h4>
    </div> 
      <div class="modal-body register">   
      <div class="socialpanel">                
          <div ng-if="new_booking">
            <div>
              <span>
                {%verbatim%}{{new_booking.serviceschosen.studio.name}}{%endverbatim%}
                {%verbatim%}{{new_booking.serviceschosen.studio.landmark}}{%endverbatim%}
                {%verbatim%}{{new_booking.serviceschosen.studio.address_1}}{%endverbatim%}
                {%verbatim%}{{new_booking.serviceschosen.studio.address_2}}{%endverbatim%}
                {%verbatim%}{{new_booking.serviceschosen.studio.area}}{%endverbatim%}
              </span>
            </div>
            <div>
              <span>
                {%verbatim%}{{new_booking.mobile_no}}{%endverbatim%}
              </span>
            </div>
            <div>
                <span ng-repeat="serv in new_booking.serviceschosen.services">
                  {%verbatim%}{{serv.servicename}}{%endverbatim%}
                </span>
            </div>
          </div>
      </div>        
      </div>
    </div>  
  </div>  
</div>
<script type="text/ng-template" id="location.html">
  <a>
     <i class="icon icon-socialmedia-25"><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>      
  </a>

  </script>
 
   

