<div class="pay-container" ng-controller="paymentcontroller">
     <!-- Preloader -->
   
    <header class="searchheader">
        <nav class="navigation">
            
                <div class="navigation-brand">                  
          <a href="#" ><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="assets/img/logo.png">  </a>
          <a href="#" ><img width="141" height="41" class="logo hidden-md hidden-lg" alt="" src="assets/img/logo-mobile.png"> </a>
                </div>
        <div class="pull-right">
          <div class="securepayment-panel hidden480">
            <div class="securepay"><i class="fa fa-unlock-alt"></i><span>SECURE Payment</span></div>
            <div class="freecancelation"><i class="fa fa-retweet"></i><span>FREE Cancelation</span></div>
            <div class="satisfaction"><i class="fa fa-thumbs-o-up"></i><span>100% Satisfication</span></div>
          </div>
          <!-- <div class="btn btn-primary pull-right">Done</div> -->
        </div>
        
        </nav>
    </header>
  <div class="col-xs-12">
  <div class="payment-wrapper">
  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
    <div class="panel-open">
            <div class="panel-heading progress-done">
      
      <div class="heading-bar">
                <h4 class="panel-title">
                    <a ng-class="service_accordion" data-toggle="collapse"  ng-click ="openToggle('collapseOne');" data-parent="#accordion" >SERVICES CHOSEN <span class="pull-right">Duration:{%verbatim%}{{total_duration}}{%endverbatim%}mins</span></a></h4>
        </div>
      
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="payment-servicemodel">
              <div class="todo">            
                <ul>
                  <li class="todo-done" ng-repeat = "serv in serviceschosen.services">               
                  <div class="todo-content">                 
                    {%verbatim%}{{serv.servicename}}{%endverbatim%} - ₹ {%verbatim%}{{serv.price}}{%endverbatim%}
                  </div>
                  </li>
                 
                </ul>
            </div>         
          </div>
                </div>
            </div>
      </div>
        </div>
        <div class="panel panel-default">
    <div name = "second-toggle" class="panel-open">
            <div class="panel-heading progress-done"> 
<div class="heading-bar">     
                <h4 class="panel-title">
                    <a ng-class="date_accordion" data-toggle="collapse" data-parent="#accordion"  ng-click ="openToggle('collapseTwo');">CHOOSE DATE AND TIME <span class="pull-right">{%verbatim%}
                     {{date_selected | date: 'dd MMMM'}}<span ng-if="from_time">,</span>{{timeFilter(from_time)}}{%endverbatim%}</span></a>          
                </h4>     
            </div>
       </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
        <!-- Date --> 
        <div class="col-sm-12 col-xs-12 no-padding">
        <p>DATE</p>
    <div class="date-wrap">   
         
            <div class="container">
            <div class="hero-unit" id="datepicker">
                
            </div>
        </div>
     
  
 </div>

<!-- Time --> 

<div id="scrollhere">
  <div class="col-sm-12 col-xs-12 no-padding scrolltime" ng-if="avail.length != 0 && day_crossed">
  <p >TIME</p>
  <p>MORNING(A.M)</p>
  
  <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">       
  <table>
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs<12" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)"  >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>
      </tr>
</table> 
      </div> 
    
    </div>



    <div class="col-sm-12 col-xs-12 no-padding" ng-if="avail.length != 0">
      <p>NOON(P.M)</p>
    <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">   
       
    <table>
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs>11 && hrs <16" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)" >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>
            </tr>
  
</table> 
      </div>
    </div>  

  <div class="col-sm-12 col-xs-12 no-padding" ng-if="avail.length != 0">
    <p>EVENING(P.M)</p>
    <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">   
       
    <table>
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs>15" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)" >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>
            </tr>
</table> 
      </div>
    </div>  
  
                </div>
        
            </div>
      </div>
  </div>
        </div>
         <form name="bookingForm" novalidate >
        <div ng-class="booking_class1">
    <div name = "third-toggle" ng-class="booking_class2">
            <div ng-class="booking_class3">
        
        <div class="heading-bar">
                <h4 class="panel-title">
                    <a  ng-class="booking_accordion" data-toggle="collapse" data-parent="#accordion" ng-click = "openToggle('collapseThree')">BOOKING DETAILS <span class="pull-right">{%verbatim%}{{serviceschosen.studio.name}}{%endverbatim%}</span></a>         
                </h4>
         </div>
        
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
        <div class="col-sm-4 ">
                    <div class="payaddress">
            <h4>{%verbatim%}{{serviceschosen.studio.name}}{%endverbatim%}</h4>
            <p>{%verbatim%}{{serviceschosen.studio.landmark}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.address_1}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.address_2}}{%endverbatim%} {%verbatim%}{{serviceschosen.studio.city}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.contact_person}}{%endverbatim%} - {%verbatim%}{{serviceschosen.studio.contact_mobile_no}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.in_charge_person}}{%endverbatim%} - {%verbatim%}{{serviceschosen.studio.incharge_mobile_no}}{%endverbatim%}</p>           
          </div>
        </div>
        <div class="col-sm-4">
         
                    <div class="promo">
            
            <p class="bold">Date & Time: <span>{%verbatim%}
                    {{date_selected | date: 'dd MMMM'}}<span ng-if="from_time  ">,</span> {{timeFilter(from_time)}}{%endverbatim%}</span></p>
            <p class="mobspan">Mobile No: <span>
            <input ng-model="mobileno" name="mobile" type="tel" ng-blur="continueclick=true" ng-pattern="/^[7-9][0-9]{9}$/" required></span></p>
            <span ng-show="continueclick"><span class="red" ng-show="bookingForm.mobile.$error.required">
                    Mobile no is required</span></span>
                <span ng-show="continueclick"><span class="red" ng-show="bookingForm.mobile.$error.number || bookingForm.mobile.$error.pattern">
                    Enter your mobile number ex:9213233423</span></span>
              
            <div class="promobox"><p>Promo code:</p> <input type="text" ng-model="coupon_code" ng-click="focus()">
              {%verbatim%}{{coupon_resp}}{%endverbatim%}
              <button ng-click="applyPromo()" ng-disabled="!coupon_code.length" class="btn btn-primary promoapply">Apply</button></div>           
          </div>
         
        </div>
        <!-- <div class="clearfix"></div> -->
        <div class="col-sm-4">
                    <div class="selected-service">            
            <div class="serviceline">
              <p ng-repeat = "servs in serviceschosen.services">
                {%verbatim%}{{servs.servicename}}{%endverbatim%}<span>
                {%verbatim%}{{servs.price}}{%endverbatim%}</span></p> 
            </div>
            <div class="service-cal">
              <p>Total <span>{%verbatim%}{{total_amount}}{%endverbatim%}</span></p> 
              <p>Promo <span>{%verbatim%}{{promo_amount}}{%endverbatim%}</span></p>
              <p class="total">To Pay <span>{%verbatim%}{{amount_to_pay}}{%endverbatim%}</span></p>
            </div>
          </div>
        </div>
        <p class="col-sm-12 col-xs-12 continuebtn"><button ng-click="makepayment(bookingForm)"   class="btn btn-primary">Continue</button></p>
                </div> 
        
            </div>
      </div>
        </div>
   </form>
  <!--not for razor pay <div ng-class="payment_class1">
    <div name = "fourth-toggle" ng-class="payment_class2">
            <div ng-class="payment_class3">
      <div class="heading-bar">
                <h4 class="panel-title">        
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" ng-click = "openToggle('collapseFour')">PAYMENT DETAILS</a>
                </h4>
       </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-bind-html="payment_frame"></div>
                </div>
            </div>
          </div>
        </div> end payment -->
    
    </div>
  </div>
  </div>
  
</div>



<!--cancel confirmation modal-->

  <div  id="processingmodal"  data-backdrop="static"  data-keyboard="false" class=" modal fade" role="dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-register-header">
     <h4 class="modal-title">We are processing your payment, Dont back or Refresh</h4>
    </div> 
      <div class="modal-body register">   
      <div class="socialpanel">
      </div>        
      </div>
    </div>  
  </div>   
