{% load static from staticfiles %}
<div class="pay-container" ng-controller="paymentcontroller">
     <!-- Preloader -->
   
    <header class="searchheader">
        <nav class="navigation" style="height:63px;">
            
                <div class="navigation-brand" style="margin-top:4px">                  
         <a href="#/"> <img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="{% static 'img/logo.png' %}"></a>
           <a href="#/"> <img width="47" height="47" class="logo hidden-md hidden-lg" alt="" src="{% static 'img/logo-mobile.png' %}"></a>
                </div>
        <div class="pull-right">
          <div class="securepayment-panel hidden480">
            <div class="securepay"><i class="fa fa-unlock-alt"></i><span>SECURE Payment</span></div>
            <div class="freecancelation"><i class="fa fa-retweet"></i><span>FREE Cancellation</span></div>
            <div class="satisfaction"><i class="fa fa-thumbs-o-up"></i><span>100% Satisfication</span></div>
          </div>
          <!-- <div class="btn btn-primary pull-right">Done</div> -->
        </div>
        
        </nav>
    </header>
  <div class="col-xs-12">
  <div class="payment-wrapper">
  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
    <div class="panel-open">
            <div class="panel-heading progress-done">
      
      <div class="heading-bar">
                <h4 class="panel-title">
                    <a ng-class="service_accordion" data-toggle="collapse"  ng-click ="openToggle('collapseOne');" data-parent="#accordion" >SERVICES CHOSEN <span class="pull-right">Duration:{%verbatim%}{{total_duration}}{%endverbatim%}mins</span></a></h4>
        </div>
      
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="payment-servicemodel">
              <div class="todo" style="margin-bottom:0px">            
                <ul>
                  <li  class="col-sm-4" ng-repeat = "serv in serviceschosen.services">               
                  <div class="todo-content">                 
                    {%verbatim%}{{serv.servicename}}{%endverbatim%} - ₹ {%verbatim%}{{serv.price}}{%endverbatim%}
                  </div>
                  </li>
                 
                </ul>
            </div>         
          </div>
                </div>
            </div>
      </div>
        </div>
        <div class="panel panel-default choosedatepanel">
    <div name = "second-toggle" class="panel-open">
            <div class="panel-heading progress-done"> 
<div class="heading-bar">     
                <h4 class="panel-title">
                    <a ng-class="date_accordion" data-toggle="collapse" data-parent="#accordion"  ng-click ="openToggle('collapseTwo');">PICK A DATE AND TIME<span class="pull-right">{%verbatim%}
                     {{date_selected | date: 'dd MMMM'}}<span ng-if="from_time">,</span>{{timeFilter(from_time)}}{%endverbatim%}</span></a>          
                </h4>     
            </div>
       </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
        <!-- Date --> 
        <div class="col-sm-12 col-xs-12 no-padding">
        <p>DATE</p>
    
         
            <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8 col-xs-12" style="padding:0px;">
            <div class="hero-unit" id="datepicker">
                
            </div>
        </div>
     
<!-- Time --> 

<div id="scrollhere">

 <div class="col-sm-12 col-xs-12 no-padding scrolltime" id="loading" style="display:none;" >
<p></p>
  <div class="clearfix"></div>
<p>&nbsp;</p> 
    <div class="la-line-scale la-dark" style="left:48%;">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
</div>

<div id="slotter">
  <div class="col-sm-12 col-xs-12 no-padding scrolltime" ng-if="slots_is == 0"> 
    <div class="clearfix"></div>
    <p style="padding-top:15px">Sorry, bookings are full for the day you have chosen. Please choose some other day to book.</p>
    </div>
  <div class="col-sm-12 col-xs-12 no-padding scrolltime" ng-if="slots_is && avail  && day_crossed">
  <p>&nbsp;</p> 
<p><span class="notavailable"><span class="notavailablebg"></span><span>Not Available</span></span></p>
  <div class="clearfix"></div>
<p>&nbsp;</p> 
  <p>TIME</p>
  <p >MORNING(A.M)</p>
    <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">        
  <table  >
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs<12" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)"  >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>              
      </tr>      
</table> 
<div ng-if="!checkslot(avail,'morning')">Morning slots not available</div>
      </div> 
    
    </div>



    <div class="col-sm-12 col-xs-12 no-padding" ng-if="slots_is && avail">
      <p>NOON(P.M)</p>
    <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">   
       
    <table>
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs>11 && hrs <16" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)" >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>
            </tr>              
</table> 
<div ng-if="!checkslot(avail,'noon')">Noon slots not available</div>
      </div>
    </div>  

  <div class="col-sm-12 col-xs-12 no-padding" ng-if="slots_is && avail ">
    <p>EVENING(P.M)</p>
    <div class="time-meridiam"></div>
    <div class="time-wrap timepanel">   
       
    <table>
      <tr ng-repeat = "(hrs,val) in avail">
        <td ng-if="hrs>15" ng-class="{available: avail[hrs].indexOf(min) != -1,selected: avail[hrs].indexOf(min) == -1}" class="noblock" ng-repeat= "min in [00,15,30,45]" ng-click="selectTime(hrs,min)" >
         <span class="noblock" ng-bind="timeFilter(hrs+':'+min)">
                  </span>
              </td>
            </tr>            
</table> 
<div ng-if="!checkslot(avail,'evening')">Evening slots not available</div>
      </div>
    </div>  
  </div>
                </div>
        
            </div>
      </div>
  </div>
        </div>
         <form name="bookingForm" novalidate >
        <div ng-class="booking_class1">
    <div name = "third-toggle" ng-class="booking_class2">
            <div ng-class="booking_class3">
        
        <div class="heading-bar">
                <h4 class="panel-title">
                    <a  ng-class="booking_accordion" data-toggle="collapse" data-parent="#accordion" ng-click = "openToggle('collapseThree')">BOOKING DETAILS <span class="pull-right">{%verbatim%}{{serviceschosen.studio.name}}{%endverbatim%}</span></a>         
                </h4>
         </div>
        
            </div>
            <div id="collapseThree" class="panel-collapse collapse bookingdetails">
                <div class="panel-body">

                        <div class="text-center">
        <div class="col-sm-12">
          <div class="col-sm-4 col-xs-6 bookdetail-title">SERVICES</div>
          <div class="col-sm-4 hidden-xs bookdetail-title">DURATION</div>
          <div class="col-sm-4 col-xs-6 bookdetail-title">PRICE</div>
        </div>
        <div class ="row">
        <div class="col-sm-12" ng-repeat = "servs in serviceschosen.services">
          <div class="col-sm-4 col-xs-6">{%verbatim%}{{servs.servicename}}{%endverbatim%}</div>
          <div class="col-sm-4 hidden-xs">{%verbatim%}{{servs.duration}}{%endverbatim%} Min</div>
          <div class="col-sm-4 col-xs-6">₹ {%verbatim%}{{servs.price}}{%endverbatim%}</div>
        </div>
      </div>
       </div>
         <div class="row">
        <div class="col-sm-12 ">
          
          <div class="col-sm-4">
          </div>
           <div class="col-sm-4">
          </div>
          
          <div class="col-sm-4 col-xs-3 text-center fntbold no-padding" style="color:#63696a">
              <span > Total : ₹{%verbatim%}{{total_amount}}{%endverbatim%}</span>
          </div>
        </div>
        <div class="row paddtop10 paddbtm">       
        <div class="col-sm-12">

            <div class="col-sm-4 no-padding">
            <div class="promo">
              <label class="mobspan" style="padding-top:0px">
              <label>Mobile No:</label>  <span><input ng-model="mobileno" style="border: 1px solid #ccc;" name="mobile" type="tel" ng-blur="continueclick=true" ng-pattern="/^[7-9][0-9]{9}$/" required>
              <br/>
            <span ng-show="continueclick"><span class="red" ng-show="bookingForm.mobile.$error.required">
                    Please enter your mobile no.</span></span>
                <span ng-show="continueclick"><span class="red" ng-show="bookingForm.mobile.$error.number || bookingForm.mobile.$error.pattern">
                    Enter your mobile number ex:9213233423</span></span></span>
              </label>
            </div>
          </div>


          <div class="col-sm-4 col-xs-7 no-padding ">
            <div class="promobox"><label>Promo code:</label> 
            <div class="dispInlineblk"> <span><input type="text" ng-model="coupon_code" ng-focus="focus()">
              </span><button ng-click="applyPromo()" ng-disabled="!coupon_code.length||su_booking" class="btn btn-primary promoapply" ng-switch="su_couponing" style="border: 1px solid #ccc;">
                  <span ng-switch-default style="padding-left: 5px;">Apply</span>
                  <span ng-switch-when="true">Apply&nbsp;<i class="fa fa-spinner"></i></span>
              </button>
              </div>
            </div>
            <span class="red" style="float:right;">{%verbatim%}{{coupon_resp}}{%endverbatim%}</span>
          </div>

          <div class="col-sm-4 col-xs-3 text-center fntbold no-padding" ng-if="promo_amount>0">Discount - ₹ {%verbatim%}{{promo_amount}}{%endverbatim%} </div>          
     
        </div>        
        </div> 


        <div class="row">
        <div class="col-sm-12 ">
          
          
          <div class="col-sm-4">
          </div>
           <div class="col-sm-4">
          </div>
          <div class="col-sm-4 col-xs-3 text-center fntbold no-padding" ng-if="service_tax > 0" style="color:#63696a">
            <span > Service tax : + ₹{%verbatim%}{{service_tax}}{%endverbatim%}</span>
          </div>
         <!-- <div class="col-sm-4 col-xs-3 text-center fntbold no-padding" style="color:#63696a">
         <span > Total : {%verbatim%}{{amount_to_pay}}{%endverbatim%}</span>
          </div>-->
          
        </div>
        </div>

            <div class="col-sm-12 amntpayable">
          
          
          <div class="col-sm-4 col-xs-12 amntpay">Amount Payable: <span>₹ {%verbatim%}{{amount_to_pay}}{%endverbatim%}</span>
          <div class="continuebtn"><button ng-click="makepayment(bookingForm)" class="btn btn-primary">MAKE PAYMENT</button></div>
          </div>
        </div>

                </div> 
        
            </div>
      </div>
        </div>
   </form>
  <!--not for razor pay <div ng-class="payment_class1">
    <div name = "fourth-toggle" ng-class="payment_class2">
            <div ng-class="payment_class3">
      <div class="heading-bar">
                <h4 class="panel-title">        
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" ng-click = "openToggle('collapseFour')">PAYMENT DETAILS</a>
                </h4>
       </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div ng-bind-html="payment_frame"></div>
                </div>
            </div>
          </div>
        </div> end payment -->
    
    </div>
  </div>
  </div>
  
</div>



<!--cancel confirmation modal-->



  <div  id="processingmodal" data-keyboard="false"  class="modal fade" data-backdrop="static" 
   data-keyboard="false" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-booking-header">
      <h4 class="modal-title">Processing...</h4>
          
    </div>     
      <div class="modal-body register">         
    We are processing your payment.Please dont press back or refresh button.
      </div>
    </div>  
  </div>  
</div>
  



  <div  id="bookingfailedmodal" class="modal fade" data-backdrop="static" 
   data-keyboard="false" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content signup">
     <div class="modal-header modal-booking-header">
      <h4 class="modal-title">Payment failed</h4>
     <button type="button" style="margin-top: -22px;" class="close" data-dismiss="modal">&times;</button>     
    </div>     
      <div class="modal-body register">         
    Your payment has been failed due to some technical issues. Sorry for the inconvenience caused. No worries, your amount will be refunded in 3-5 busines days.Sorry for the inconvenience.Try again or <a href="#/search">click here </a> to select another studio.
      </div>
    </div>  
  </div>  
</div>
  <script type="text/javascript">
    $(document).ready(function () {      
      $(document).on('click', '.available', function (event) {  
        $('.available').removeClass('active');    
        $(this).addClass('active');
      });
    });
  </script>  
