<div class="pay-container" ng-controller="paymentcontroller">
     <!-- Preloader -->
   
    <header class="searchheader">
        <nav class="navigation">
            
                <div class="navigation-brand">                  
          <a href="#" ><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="assets/img/logo.png">  </a>
          <a href="#" ><img width="141" height="41" class="logo hidden-md hidden-lg" alt="" src="assets/img/logo-mobile.png"> </a>
                </div>
        <div class="pull-right">
          <div class="securepayment-panel hidden480">
            <div class="securepay"><i class="fa fa-unlock-alt"></i><span>SECURE Payment</span></div>
            <div class="freecancelation"><i class="fa fa-retweet"></i><span>FREE Cancelation</span></div>
            <div class="satisfaction"><i class="fa fa-thumbs-o-up"></i><span>100% Satisfication</span></div>
          </div>
          <!-- <div class="btn btn-primary pull-right">Done</div> -->
        </div>
        
        </nav>
    </header>
  <div class="col-xs-12">
  <div class="payment-wrapper">
  <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <a href="#step-1" type="button" class="btn-primary btn-circle">1</a>
        <p>Step 1</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-2" type="button" class="btn-default btn-circle" disabled="disabled">2</a>
        <p>Step 2</p>
      </div>
      <div class="stepwizard-step">
        <a href="#step-3" type="button" class="btn-default btn-circle" disabled="disabled">3</a>
        <p>Step 3</p>
      </div>
    <div class="stepwizard-step">
        <a href="#step-4" type="button" class="btn-default btn-circle" disabled="disabled">4</a>
        <p>Step 4</p>
      </div>
    </div>
  </div>
  
  <div class="panel-group" id="accordion">
        <div class="panel panel-default">
    <div class="panel-open">
            <div class="panel-heading progress-done">
      
      <div class="heading-bar">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" >SERVICE CHOOSED <span class="pull-right">5</span></a>          
                </h4>
        </div>
      
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="payment-servicemodel">
              <div class="todo">            
                <ul>
                  <li class="todo-done" ng-repeat = "serv in serviceschosen.services">               
                  <div class="todo-content">                 
                    {%verbatim%}{{serv.servicename}}{%endverbatim%} - ₹ {%verbatim%}{{serv.price}}{%endverbatim%}
                  </div>
                  </li>
                 
                </ul>
            </div>         
          </div>
                </div>
            </div>
      </div>
        </div>
        <div class="panel panel-default choosedatepanel panel-closed">
    
            <div class="panel-heading"> 
<div class="heading-bar">     
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">CHOOSE DATE AND TIME <span class="pull-right">July 25, 10:15 AM</span></a>          
                </h4>     
            </div>
       </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
        <!-- Date --> 
        <div class="col-sm-12 col-xs-12 no-padding">
        <p>DATE</p>
    <div class="date-wrap">   
        <header>
        <button class="fa fa-chevron-left"></button>
        <h3>July</h3>
        <button class="fa fa-chevron-right"></button>
        </header>
      <table>
        <tr class="calenderhead">
        <td>S</td>
        <td>M</td>
        <td>T</td>
        <td>W</td>
        <td>Th</td>
        <td>F</td>
        <td>S</td>
        </tr>
        <tr>
        <td></td>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        </tr>
        <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        </tr>
        <tr>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td class="selected">17</td>
        <td>18</td>
        <td>19</td>
        </tr>
        <tr>
        <td>20</td>
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        </tr>
        <tr>
        <td>27</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>31</td>
        <td></td>
        <td></td>
        </tr>
      </table>
     
  
 </div>

<!-- Time --> 


  <div class="col-sm-12 col-xs-12 no-padding">
  <p>TIME</p>
  
  <div class="time-meridiam">AM</div>
    <div class="time-wrap timepanel">       
      <table>
        <tr>
        <td>8:00</td>
        <td>8:15</td>
        <td>8:30</td>
        <td>8:45</td>
        <td>9:00</td>       
        <td>9:15</td>
        <td>9:30</td>
        <td>9:45</td>
        </tr>
        <tr>
        <td>10:00</td>
        <td>10:15</td>
        <td>10:30</td>
        <td>10:45</td>
        <td>11:00</td>        
        <td>11:15</td>
        <td>11:30</td>
        <td>11:45</td>
        </tr>
        <tr>
        <td>12:00</td>
        <td>12:15</td>
        <td>12:30</td>
        <td>12:45</td>
        <td>1:00</td>       
        <td>1:15</td>
        <td>1:30</td>
        <td>1:45</td>
        </tr>
       
      </table>
      </div> 
    
    </div>
    
    <div class="col-sm-12 col-xs-12 no-padding">
    <div class="time-meridiam">PM</div>
    <div class="time-wrap timepanel">   
       
      <table>
        <tr>
        <td>2:00</td>
        <td>2:15</td>
        <td>2:30</td>
        <td>2:45</td>
        <td>3:00</td>       
        <td>3:15</td>
        <td>3:30</td>
        <td>3:45</td>
        </tr>
        <tr>
        <td>4:00</td>
        <td>4:15</td>
        <td>4:30</td>
        <td>4:45</td>
        <td>5:00</td>       
        <td>5:15</td>
        <td>5:30</td>
        <td>5:45</td>
        </tr>
        <tr>
        <td>6:00</td>
        <td>6:15</td>
        <td>6:30</td>
        <td>6:45</td>
        <td>7:00</td>       
        <td>7:15</td>
        <td>7:30</td>
        <td>7:45</td>
        </tr>
       
      </table>
      </div>
    </div>  
  
                </div>
        
            </div>
      </div>
        </div>
        <div class="panel panel-default bookingdetails panel-closed">
    
            <div class="panel-heading">
        
        <div class="heading-bar">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">BOOKING DETAILS <span class="pull-right">TOTAL : 800</span></a>         
                </h4>
         </div>
        
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
        <div class="col-sm-4 ">
                    <div class="payaddress">
            <h4>{%verbatim%}{{serviceschosen.studio.name}}{%endverbatim%}</h4>
            <p>{%verbatim%}{{serviceschosen.studio.landmark}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.address_1}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.address_2}}{%endverbatim%} {%verbatim%}{{serviceschosen.studio.city}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.contact_person}}{%endverbatim%} - {%verbatim%}{{serviceschosen.studio.contact_mobile_no}}{%endverbatim%}</p>
            <p>{%verbatim%}{{serviceschosen.studio.in_charge_person}}{%endverbatim%} - {%verbatim%}{{serviceschosen.studio.incharge_mobile_no}}{%endverbatim%}</p>           
          </div>
        </div>
        <div class="col-sm-4">
                    <div class="promo">
            
            <p class="bold">Date & Time: 17 July  10:15 AM</p>
            <p class="mobspan">Mobile No: <span><input type="text"></span></p>
            <div class="promobox"><p>Promo code:</p> <input type="text"><button class="btn btn-primary promoapply">Apply</button></div>           
          </div>
        </div>
        <!-- <div class="clearfix"></div> -->
        <div class="col-sm-4">
                    <div class="selected-service">            
            <div class="serviceline">
              <p>Shave <span>100</span></p> 
              <p>Facial <span>500</span></p>
              <p>Coloring <span>200</span></p>
            </div>
            <div class="service-cal">
              <p>Total <span>800</span></p> 
              <p>Promo <span>800</span></p>
              <p class="total">To Pay <span>800</span></p>
            </div>
          </div>
        </div>
        <p class="col-sm-12 col-xs-12 continuebtn"><button class="btn btn-primary">Continue</button></p>
                </div> 
        
            </div>
      
        </div>
    <div class="panel panel-default panel-closed">
    
            <div class="panel-heading">
      <div class="heading-bar">
                <h4 class="panel-title">        
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">PAYMENT DETAILS</a>
                </h4>
       </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>PAYMENT DETAILS</div>
                </div>
            </div>
        </div>
    
    </div>
  </div>
  </div>
  
</div>


