<!DOCTYPE html>
<html lang="en" ng-app = "accountApp" >
  <head>

    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Give your valuable feeback -  Zaloon</title>
    <meta name="description" content="">
    <meta name="keywords" content="">     
    {% load static from staticfiles %}
    <!-- Bootstrap -->
    <link rel="stylesheet" href='{% static  "css/bootstrap/bootstrap.min.css"%}'>
    <link rel="stylesheet" href='{% static "css/font-awesome.css"%}' type="text/css" media="all" />      
    <!-- our css -->
    <link rel="stylesheet" href='{% static "css/style.css"%}' type="text/css" media="all" /> 
    <link rel="stylesheet" href='{% static "css/devcss.css"%}' type="text/css" media="all" /> 
    <!-- loading django static files -->
   <style type="text/css">

</style>
    
  </head>


<body ng-controller="reviewcontroller">
      <!-- csrf token-->{% csrf_token %}

         <header class="searchheader">
        <nav class="navigation">
            
              <div class="navigation-brand">
                      
         <a href="http://www.zaloon.in"><img width="141" height="41" class="logo hidden-xs hidden-sm" alt="" src="{% static 'img/logo.png' %}"> </a>
            <a href="http://www.zaloon.in"><img width="47" height="47" class="logo hidden-md hidden-lg" alt="" src="{% static 'img/logo-mobile.png' %}"> </a>
                </div> 
        <!-- Login -->
        
                <div class="navigation-navbar">                    
                    
                </div>           
        </nav>
    </header>

<div class="getdetails-panel">
<div class="getdetails-panel-wrapper">
<div class="container-fluid getpanel">

<p> <div class="row">
  <div class="form-group">
      <label class="col-md-4 col-sm-4 col-xs-12 ">Thanks for your valuable rating!.It will help us serve you better.</label>
  </div>
</p>
</div> 
</div>
</div>


<form name ="submitreview" ng-if="added == 0" novalidate>
<div class="getdetails-panel">
<div class="getdetails-panel-wrapper">
{%if can_review %}   
<div class="container-fluid getpanel">
 <span>Help us serve you better by rating your experience. We appreciate your feedback!</span>
<br/>
 <span  class="error" style="color:red;" ng-if="failed == 1">Please try again!</span>
    <div class="row">
      
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-12 ">Your Rating</label>
          <div class="col-md-8 col-sm-8 col-xs-11">
          <span class="rating"><rating name="rev_rating" ng-model="review.rate" max="5" readonly="isReadonly"  on-leave="overStar = null" required></rating></span>
          </div>
        </div>
      
    </div>    
    <div class="row paddtop15">     
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-12 ">Your Comment</label>
          <div class="col-md-8 col-sm-8 col-xs-11">
          <textarea name="rev_comment" ng-model="review.comment" type="text" class="form-control" required></textarea>
          </div>
        </div>      
    </div>
    <span class="error" style="color:red;" ng-show="formsubmit && submitreview.rev_comment.$error.required">All fields are required.</span>

    <div class="row paddtop10">     
        <div class="form-group col-sm-12 col-xs-11">          
          <button class="getdetails-btn btn" ng-disabled="is_submitting == 0" ng-click="submit_review(submitreview)">submit</button>          
        </div>      
    </div>  
  </div>

   {%else%}
 <p> <div class="row">
      
        <div class="form-group">
          <label class="col-md-4 col-sm-4 col-xs-12 ">You have reviewed this booking already.</label>
        </div></p>
 {%endif%}
</div>    
 </div>  
 </form>





   <!-- js libs -->
  <script src='{% static "js/jquery/jquery.min.js"%}'></script>   
  <script src='{% static "js/bootstrap/bootstrap.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular.min.js"%}'></script>
  <script src='{% static "js/angular1.4.0/angular-route.min.js"%}'></script>
  <script src='{% static "js/bootstrap/ui-bootstrap-tpls-0.13.0.js"%}'></script>  
<!-- <script src="http://jsconsole.com/remote.js?EFF6B3F0-F091-4BF1-A102-81545C369DB1"></script> -->

<script type="text/javascript">


var noqapp = angular.module('accountApp', ['ui.bootstrap']);

noqapp.controller('reviewcontroller', function ($scope,$http,$window) {
 $scope.added = 0
 $scope.formsubmit = false
 $scope.review = {}
 $scope.review['rate'] = 0
 $scope.is_submitting = 1
$scope.submit_review = function(review_form)
{
  $scope.formsubmit = true
  $scope.is_submitting = 0
  if (review_form.$valid)
  {
    data = {'rating':$scope.review['rate'],'comment':$scope.review['comment'],
         'review_key':$window.location.search}
    $http.post('../add_review_from_email/',data).then(function()
    {
      $scope.added = 1
    },function()
    {
      $scope.is_submitting = 1
      $scope.added = 0
      $scope.failed = 1
    })
  }
  
}

});

</script>
  </body>

  

</html>
